<div id="app">
    <div class="card mt-2" style="width: 100%;">
        <div class="card-body">
            <h3 class="card-title">Share <button class="btn btn-primary" v-if="share" @click="updateShare" title="Sync the latest share details and permissions from Bioshare">Update</button></h3>
            <div v-if="id && share && share.submission">
                <!-- [[id]]
                [[share]] -->
                <table class="table">
                    <tr><th>Name</th><td>[[share.name]]</td></tr>
                    <tr><th>Description</th><td>[[share.notes]]</td></tr>
                    <tr><th>URL</th><td><a :href="share.url" target="_blank">[[share.url]]</a></td></tr>
                    <tr><th>Last updated</th><td>[[share.updated]]</td></tr>
                </table>
                <!-- [[share.permissions.user_perms]] -->
                 <button class="btn btn-primary" @click="shareWithClients">Share with clients</button>
                 <button class="btn btn-primary" @click="shareWithParticipants">Share with participants</button>
                 <button class="btn btn-primary" @click="shareWithGroup">Share with group</button>
                 <table class="table">
                    <thead><tr><th>User/Group</th><th>Source</th><th>Permissions</th></tr></thead>
                    <tbody>
                        <tr v-if="share.permissions && share.permissions.group_perms" v-for="g in share.permissions.group_perms"><td>Group: "[[g.group.name]]"</td><td>Group Permissions</td><td>[[g.permissions]]</td></tr>
                        <tr v-for="u in users" :key="email"><td>[[u.email]] <span v-if="u.name">([[u.name]])</span></td><td>[[u.source]]</td><td><span v-if="u.permissions">[[u.permissions.permissions]]</span><i v-else class="fa-solid fa-xmark" style="color: red;"></i></td></tr><tr></tr>
                    </tbody>
                </table>
                <!-- <i class="fa-solid fa-check"></i> -->
                <!-- users: [[users]] -->
            </div>
            <div v-else>
                This submission does not yet have a share. <a class="btn btn-primary" href="{% url 'create_submission_share' pk=submission.pk %}">Create</a> a share.
            </div>
        </div>
    </div>
</div>
  <script>
    // const { createApp } = Vue;
    createApp({
      el: '#app',
      delimiters: ['[[', ']]'],
      data() {
        return {
            id: "{{submission.share.id}}",
            share: null,
            submission_id: "{{submission.id}}"
            // permissions: {{submission.share.permissions|escapejs}}
            };
        },
      mounted () {
        if (this.id) {
            axios.get(`/api/submission_shares/${this.id}/`).then(response =>
                this.share = response.data
            )
        }
      },
      methods: {
        shareWithClients () {
            axios.post(`/api/submission_shares/${this.id}/share_with_clients/`, {}, axios_headers).then(response => {
                this.share = response.data
                alert('Successfully shared with clients.')
            })
        },
        shareWithGroup () {
            axios.post(`/api/submission_shares/${this.id}/share_with_group/`, {}, axios_headers).then(response => {
                this.share = response.data
                alert('Successfully shared with group.')
            })
        },
        shareWithParticipants () {
            axios.post(`/api/submission_shares/${this.id}/share_with_participants/`, {}, axios_headers).then(response => {
                this.share = response.data
                alert('Successfully shared with participants.')
            })
        },
        updateShare () {
            axios.post(`/api/submission_shares/${this.id}/update_share/`, {}, axios_headers).then(response =>
                this.share = response.data
            )
        }
      },
      computed: {
        users () {
            console.log('share', this.share.submission.participants);
            let users = this.participants.map(p => {
                // var p = u.user ? u.user : u;
                return { name: `${p.last_name}, ${p.first_name}`, email: p.email.toLowerCase(), source: 'Participants'}
            })
            users.push({name: this.share.submission.pi_name, email: this.share.submission.pi_email.toLowerCase(), source: 'PI'});
            users.push({name: this.share.submission.submitter_name, email: this.share.submission.submitter_email.toLowerCase(), source: 'Submitter'});
            this.share.submission.contacts.forEach(c => {
                users.push({name: `${c.last_name}, ${c.first_name}`, email: c.email.toLowerCase(), source: 'Contacts'})
            });
            users.forEach(u => {
                u.permissions = this.share.permissions.user_perms[u.email.toLowerCase()]
            })
            return users
        },
        participants () {
            return this.share.submission.participants.map(p => {
                return p.user ? p.user : p;
            });
        }
      }
    }).mount('#app')
  </script>