{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SLIMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
  <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
  <script src="{% static 'DataTables/datatables.js' %}"></script>
  <script src="{% static 'moment.min.js' %}"></script>
  {% block 'head' %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="{% static 'images/slims.png' %}"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'runs' %}">Runs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'submissions' %}">Submissions</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Administrative</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'users' %}">Manage Users</a></li>
            <li><a class="dropdown-item" href="{% url 'groups' %}">Manage Groups</a></li>
          </ul>
        </li>
        {% endif %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Logged in as {{user}} </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
          </li>
      </ul>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#">Log in</a>
      </li>
      {% endif %}
      </ul>
      
    </div>
  </div>
</nav>

<div class="container-xxl p-3">
  {% block 'content' %}
  {% endblock %}
</div>

</body>
</html>


