{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block 'content' %}
<h1 class="title">
    Edit Run
</h1>
<form method="POST" action=".">
    {% csrf_token %}
    {{ run_form|crispy }}
    <h2 class="title">Lanes</h2>
    <div id="lanes-container">
        <!-- <div class="columns is-mobile">
            <div class="column">Group</div>
            <div class="column">Project</div>
            <div class="column">Concentration</div>
            <div class="column">Description</div>
        </div> -->
            {{ lane_formset.management_form }}
            {% for lane in lane_formset %}
            <div class="columns is-mobile lane-form">
                <div class="column is-1">
                    <span class="lane_num">Lane {{lane.instance.lane_number}}</span>
                </div>
                {{ lane|crispy}}
            </div>
            {% endfor %}
    </div>
    <a class="button" id="add-lane">Add Lane</a>
    <input class="button" type="submit" value="Submit" />
</form>

<script>
$(document).ready(function() {
        let formIndex = $('.lane-form').length - 1; // Get the number of current forms

        $('#add-lane').on('click', function() {
            // Clone the last form in the formset
            let newForm = $('#lanes-container .lane-form').last().clone();
            
            // Reset input values (optional)
            newForm.find('input, textarea').val('');

            // Update the form's IDs, names, and management form fields
            newForm.find('input, textarea, select').each(function() {
                let name = $(this).attr('name');
                name = name.replace('-' + (formIndex - 1) + '-', '-' + (formIndex+1) + '-');
                $(this).attr('name', name);
                $(this).attr('id', 'id_' + name);
            });

            // Add the new form to the container
            $('#lanes-container').append(newForm);
            formIndex++;
            console.log('formIndex', formIndex)

            // Update the management form's total form count
            $('#id_lanes-TOTAL_FORMS').val(formIndex);
        });
    });
</script>
<style>
    /* .lane-form .field {
        display: inline-block;
    } */
</style>
{% endblock %}