{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block 'content' %}
<h1 class="title">
    {% if run.pk %}
        Edit Run
    {% else %}
        Create Run
    {% endif %}
</h1>
<form method="POST" action=".">
    {% csrf_token %}
    {{ run_form|crispy }}
    <h2 class="title">Lanes</h2>
    <div id="lanes-container">
        {{ lane_formset | crispy }}
    </div>
    {% if run.pk %}
        <a class="btn btn-danger" href="{% url 'run' pk=run.pk%}">Cancel</a>
    {% endif %}
    <a class="btn btn-success" id="add-lane">Add Lane</a>
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>

<script>
let currentIndex = {% if run.pk %}{{ run_form.instance.ordered_lanes.count }}{% else %}0{% endif%};
$(document).ready(function() {
        let formIndex = $('#lanes-container .multiField').length - 1; // Get the number of current forms
        
        $('#add-lane').on('click', function() {
            var newIndex = currentIndex + 1;
            // Clone the last form in the formset
            let newForm = $('#lanes-container .multiField').last().clone();
            // Reset input values
            newForm.find('input, textarea, select').val('');
            // Update the form's IDs, names, and management form fields
            newForm.find('input, textarea, select').each(function() {
                let name = $(this).attr('name');
                name = name.replace('-' + currentIndex + '-', '-' + newIndex + '-');
                $(this).attr('name', name);
            });
            newForm.find('[id]').each(function() {
                let id = $(this).attr('id');
                id = id.replace('-' + currentIndex + '-', '-' + newIndex + '-');
                $(this).attr('id', id);
            });
            newForm.find('[for]').each(function() {
                let val = $(this).attr('for');
                val = val.replace('-' + currentIndex + '-', '-' + newIndex + '-');
                $(this).attr('for', val);
            });
            newForm.find('.lane_number').html(currentIndex);
            // Add the new form to the container
            $('#lanes-container').append(newForm);

            // Update the management form's total form count
            currentIndex = newIndex;
            $('#id_lanes-TOTAL_FORMS').val(newIndex + 1);
        });
    });
</script>
<style>
.multiField {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.multiField field {
    display: inline-block;
}
.lane-input {
    max-width: 80px;
}
</style>
{% endblock %}