{% extends "base.html" %}
{% load static %}
{% block 'content' %}
<h3>Group: {{group.name}}</h3>
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">Users</h5>
        <div id="current-users" class="p-3">
            {% for u in group.user_set.all %}
            <div class="user" id="user-{{u.pk}}"><label>
                    {{u.first_name}} {{u.last_name}}</label> ({{u.email}})</div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'run_history.html' %}
{% endblock %}