{% extends "base.html" %}
{% block 'content' %}
<h1 class="title">
    View Run <a href="{% url 'edit_run' pk=run.pk %}" class="button">Edit</a>
</h1>
<h2>General Data</h2>
<table class="table">
    <tr><th>Machine</th><td>{{run.machine}}</td></tr>
    <tr><th># Cycles</th><td>{{run.num_cycles}}</td></tr>
    <tr><th>Run Directory</th><td>{{run.run_dir}}</td></tr>
    <tr><th>Run Date</th><td>{{run.run_date}}</td></tr>
    <tr><th>Submitted</th><td>{{run.submitted}}</td></tr>
    <tr><th>Description</th><td>{{run.description}}</td></tr>
    <tr><th>Notes</th><td>{{run.notes}}</td></tr>
</table>
<h2>Lanes</h2>
<table class="table">
    <thead>
        <tr><th>Lane</th><th>Group</th><th>Organism</th><th>Concentration</th><th>Description</th><th>Controls</th></tr>
    </thead>
    <tbody>
        {% for l in run.ordered_lanes %}
            <tr>
                <td>{{l.lane_number}}</td>
                <td>{{l.group.db_group}}</td>
                <td>{{l.organism.name}}</td>
                <td>{{l.concentration}}</td>
                <td>{{l.description}}</td>
                <td><a href="{{l.data_url}}" class="button">Data</a></td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}