{% extends "base.html" %}
{% block 'content' %}
<h1 class="title">
    View Run
    {% if user.is_staff and run.can_modify %}<a href="{% url 'edit_run' pk=run.pk %}" class="btn btn-primary">Edit</a> {% if run.can_delete %}<a onClick="delete_run()" class="btn btn-danger">Delete</a>{% endif %}{% endif%}
</h1>
{% if message %}
<h2>{{message}}</h2>
{% endif %}
<h2>General Data</h2>
<table class="table">
    <tr><th>Machine</th><td>{{run.machine}}</td></tr>
    <tr><th># Cycles</th><td>{{run.num_cycles}}</td></tr>
    <tr><th>Run Directory</th><td>{{run.run_dir}}</td></tr>
    <tr><th>Run Date</th><td>{{run.run_date}}</td></tr>
    <tr><th>Submitted</th><td>{{run.submitted}}</td></tr>
    <tr><th>Description</th><td>{{run.description}}</td></tr>
    {% if user.is_staff %}<tr><th>Notes</th><td>{{run.notes}}</td></tr>{% endif %}
</table>
<h2>Lanes</h2>
<table class="table table-striped">
    <thead>
        <tr><th>Lane</th><th>Group</th>{% if user.is_staff %}<th>Submission</th>{% endif %}<th>Project ID</th><th>Lane Dir</th><th>Organism</th><th>Concentration</th><th>Description</th><th>Controls</th></tr>
    </thead>
    <tbody>
        {% for l in lanes %}
            <tr>
                <td>{{l.lane_number}}</td>
                <td>{{l.group}}</td>
                {% if user.is_staff and l.submission %}
                <td><a href="{% url 'submission' pk=l.submission.pk %}">{{l.submission}}</a></td>
                {% endif %}
                <td>{{l.project_id}}</td>
                <td>{{l.lane_dir}}</td>
                <td>{{l.organism.name}}</td>
                <td>{{l.concentration}}</td>
                <td>{{l.description}}</td>
                <td><a href="{{l.data_url}}" class="btn btn-primary">Data</a></td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<script>
    let delete_url = "{% url 'delete_run' pk=run.pk %}";
    function delete_run() {
        if (confirm('Are you absolutely sure you want to delete this run?')) {
            window.location.href = delete_url;
        }
    }
</script>
{% endblock %}