<h2>
    Run History
</h2>
<table id="runs" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Run Date</th>
            <th>Machine</th>
            <th>Lane</th>
            <th>Group</th>
            <th>Cycles</th>
            <th>Description</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    let isStaff = {% if request.user.is_staff %}true{% else %} false{% endif %};
    $(document).ready(function () {
        $('#runs').DataTable({
            columns: [
                { data: "run.run_date" },
                { data: "run.machine" },
                { data: "lane_number" },
                {
                    data: "group",
                    render: function (data, type, row) {
                        return isStaff ? '<a href="/groups/' + data.id + '/">'+data.name+'</a>' : data.name
                    }
                },
                { data: "run.num_cycles" },
                { data: "description" },

                // { data: "data_url" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a class="btn btn-primary" href="' + row.data_url + '">Data</a>'
                    }
                }
            ],
            processing: true,
            serverSide: true,
            ordering: false,
            ajax: {
                "url": "/api/profile_lanes/{% if profile_user %}?user_id={{profile_user.pk}}{% endif %}", // Django REST API URL
                "data": function (d) {
                    console.log('Requesting data with parameters:', d);
                    d.limit = d.length; // Page size
                    d.offset = d.start; // Starting point of the current page
                    if (d.order && d.order.length > 0) {
                        // `order[0][column]` gives us the column index, and `order[0][dir]` gives the direction
                        var columnIndex = d.order[0].column;
                        var columnName = $('#runs').DataTable().settings()[0].aoColumns[columnIndex].data;
                        d.ordering = (d.order[0].dir === 'asc' ? '' : '-') + columnName; // DRF ordering syntax
                    }

                    // Sending the search term if provided
                    if (d.search && d.search.value) {
                        d.search = d.search.value;  // Pass search term directly to the API
                    }
                },
                "dataSrc": {
                    recordsTotal: 'count',
                    recordsFiltered: 'count',
                    data: 'results'
                }
                // function(json) {
                //     return {
                //         // draw: json.draw,  // The draw parameter that DataTables sends back
                //         recordsTotal: json.count,  // Total number of records (before filtering)
                //         recordsFiltered: json.count,  // Total after filtering (you can adjust this if needed)
                //         data: json.results || []  // Actual data for the current page
                //     };
                //     // console.log('Received data:', json);  // Log the response for debugging
                //     // return json.results || [];
                // } 
            },
            "lengthMenu": [10, 25, 50], // Options for page sizes
            "pageLength": 10, // Default page size
        });
    });
</script>