{% extends "base.html" %}
{% block 'content' %}
<div class="card mt-2">
    <div class="card-body">
        <h3 class="card-title"><a href="{% url 'submissions' %}">Submissions</a> / {{submission.internal_id}}</h3>
        <table class="table">
            <tr><th>Submitted</th><td>{{submission.submitted}}</td></tr>
            <tr><th>Type</th><td>{{submission.submission_type}}</td></tr>
            <tr><th>Submitter</th><td>{{submission.submitter_name}} ({{submission.submitter_email}})</td></tr>
            <tr><th>PI</th><td>{{submission.pi_name}} ({{submission.pi_email}})</td></tr>
            <tr><th>URL</th><td><a href="{{submission.url}}" target="_blank">{{submission.url}}</a></td></tr>
        </table>
    </div>
</div>
{% include 'vue/share.html' %}
{% if submission.lanes.all.count %}
<div class="card mt-2">
    <div class="card-body">
        <h3 class="card-title">Pools / Containers</h3>
        <a class="btn btn-primary" href="{% url 'share_submission_data' submission_id=submission.id %}">Share Data</a>
        <table class="table table-striped">
            <thead>
                <tr><th>Run</th><th>Lane</th><th>PI/Group</th><th>Project ID</th><th>Lane Dir</th><th>Concentration</th><th>Description</th><th>Data Directories</th></tr>
            </thead>
            <tbody>
                {% for l in submission.lanes.all %}
                    <tr>
                        <td><a href="{% url 'run' pk=l.run.pk %}">{{l.run}}</a></td>
                        <td>{{l.lane_number}}</td>
                        <td>{{l.pi_name}}</td>
                        <td>{{l.project_id}}</td>
                        <td>{{l.lane_dir}}</td>
                        <td>{{l.concentration}}</td>
                        <td>{{l.description}}</td>
                        <td>
                            {% for directory in l.directories.all%}
                            <div>{{directory.repository_subpath}} -> {{directory.data_path}}, <b>Status:</b> <span class="status-{{directory.status}}">{{directory.status}}</span> <i>{{directory.message}}</i></div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <h3>This submission does not have any associated runs.</h3>
{% endif %}
{% if 0 %}
    {% include 'vue/lanes.html' with query="submission__id="|add:submission.id %}
{% endif%}
{% endblock %}