{% extends "base.html" %}
{% block 'content' %}
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h3 class="card-title"><a href="{% url 'submissions' %}">Submissions</a> / {{submission.internal_id}}</h3>
        <table class="table">
            <tr><th>Submitted</th><td>{{submission.submitted}}</td></tr>
            <tr><th>Type</th><td>{{submission.submission_type}}</td></tr>
            <tr><th>Submitter</th><td>{{submission.submitter_name}} ({{submission.submitter_email}})</td></tr>
            <tr><th>PI</th><td>{{submission.pi_name}} ({{submission.pi_email}})</td></tr>
            <tr><th>URL</th><td><a href="{{submission.url}}" target="_blank">{{submission.url}}</a></td></tr>
            <tr><th>Share</th><td>{% if submission.share %}{{submission.share}}{% else %}<a class="btn btn-primary" href="{% url 'create_submission_share' pk=submission.pk %}">Create</a>{% endif %}</td></tr>
        </table>
    </div>
</div>
{% if submission.lanes.all.count %}
<table class="table table-striped">
    <thead>
        <tr><th>Run Date</th><th>Lane</th><th>Group</th><th>Project ID</th><th>Lane Dir</th><th>Concentration</th><th>Description</th></tr>
    </thead>
    <tbody>
        {% for l in submission.lanes.all %}
            <tr>
                <td><a href="{% url 'run' pk=l.run.pk %}">{{l.run.run_date}}</a></td>
                <td>{{l.lane_number}}</td>
                <td>{{l.group}}</td>
                <td>{{l.project_id}}</td>
                <td>{{l.lane_dir}}</td>
                <td>{{l.concentration}}</td>
                <td>{{l.description}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h3>This submission does not have any associated runs.</h3>
{% endif %}
{% endblock %}