{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block 'content' %}
<h1 class="title">
    {% if form.instance.pk %}Edit{% else %}Add{% endif %} Data Directory
</h1>
{% with lane.run as run %}
<h3>Run</h3>
<table class="table">
    {% if run.run_type %}
    <tr><th>Run Type</th><td>{{run.run_type}}</td></tr>
    {% endif %}
    <tr><th>Machine</th><td>{{run.get_machine}}</td></tr>
    {% if run.num_cycles %}
    <tr><th># Cycles</th><td>{{run.num_cycles}}</td></tr>
    {% endif %}
    <tr><th>Run Directory</th><td>{{run.run_dir}}</td></tr>
    <tr><th>Run Date</th><td>{{run.run_date}}</td></tr>
    <tr><th>Submitted</th><td>{{run.submitted}}</td></tr>
    <tr><th>Description</th><td>{{run.description}}</td></tr>
    {% if user.is_staff %}<tr><th>Notes</th><td>{{run.notes}}</td></tr>{% endif %}
</table>
{% endwith %}
<h3>Lane</h3>
<table class="table">
    <tr><th>Submission</th><td><a href="{% url 'submission' pk=lane.submission.pk %}">{{lane.submission}}</a></td></tr>
    <tr><th>Lane/Unit</th><td>{{lane.lane_number}}</td></tr>
    <tr><th>"Project ID"</th><td>{{lane.project_id}}</td></tr>
    <tr><th>Lane Dir / Pool</th><td>{{lane.lane_dir}}</td></tr>
</table>
<form method="POST" action=".">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>
{% endblock %}